#Para comenzar hacemos los Import necesarios con los paquetes que utilizaremos en el Ejercicio.

In [2]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

#Cargamos el conjunto de datos

In [3]:
df = pd.read_csv("covid.csv")

#Podemos eliminar las filas que contienen valores faltantes

In [4]:
df.dropna(inplace=True)

#Podemos ver las primeras filas del conjunto de datos con la función head()

In [5]:
df.head()

         date      country  new_cases  new_deaths  total_cases  total_deaths
0  2019-12-31  Afghanistan          0           0            0             0
1  2020-01-01  Afghanistan          0           0            0             0
2  2020-01-02  Afghanistan          0           0            0             0
3  2020-01-03  Afghanistan          0           0            0             0
4  2020-01-04  Afghanistan          0           0            0             0

#Obtenemos información sobre las columnas y los tipos de datos

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7320 entries, 0 to 7319
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          7320 non-null   object
 1   country       7320 non-null   object
 2   new_cases     7320 non-null   int64
 3   new_deaths    7320 non-null   int64
 4   total_cases   7320 non-null   int64
 5   total_deaths  7320 non-null   int64
dtypes: int64(4), object(2)
memory usage: 343.2+ KB

#Seleccionamos las columnas de caracteristicas y la columna de etiquetas

In [7]:
X=df.iloc[:, :-1]
y=df.iloc[:, -1]

#convertimos variables categóricas en variables numéricas

In [8]:
X=pd.get_dummies(X)

#Dividimos el conjunto de datos en conjuntos de entrenamiento y prueba

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#Creamos un modelo de árbol de decisión

In [10]:
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

DecisionTreeClassifier()

#Evaluamos el modelo

In [14]:
score = clf.score(X_test, y_test)
print("Acurracy: %.2f%%" % (score * 100.0))

Acurracy: 86.61%